# build system
obj/
*.pyc
*.pyo
*.o
*.cpp.d
*.c.d
*.h.d
*.gch.d
*.gch
.ninja*
build.ninja

tags

# binarys
src/flif
src/flif.asan
src/flif.dbg
src/flif.prof
src/flif.stats
src/libflif.dbg.so
src/libflif.so
src/libflif.dylib
src/libflif.0.dylib

src/test-interface
src/viewflif
src/dflif

/*.png
*.xcworkspace/*
*.xcworkspace
*.xcodeproj

*.so.0
*.so
*/*dSYM/*

flif.osx

*.swp

#MSVC
*.exe
*.obj
*.pdb
*.ilk
build/tmp-test/
