Source: flif
Section: graphics
Priority: optional
Maintainer: Jon Sneyers <jon.sneyers@gmail.com>
Build-Depends: debhelper (>=9), bash-completion, libpng-dev, libsdl2-dev
Standards-Version: 3.9.6
Vcs-Git: https://github.com/FLIF-hub/FLIF.git
Vcs-browser: https://github.com/FLIF-hub/FLIF
Homepage: http://flif.info

Package: flif
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: viewflif, gif2flif, apng2flif
Description: Free Lossless Image Format (FLIF) encoder/decoder
 FLIF is a lossless image (and animation) format.
 It tends to compress better than other image compression formats.
 This is the reference implementation of the FLIF encoder/decoder.
 The command-line utility 'flif' converts FLIF to/from PNG or PNM.

Package: libflif-dec
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Free Lossless Image Format (FLIF) decoder library
 FLIF is a lossless image (and animation) format.
 It tends to compress better than other image compression formats.
 This is the reference implementation of the FLIF decoder, as
 a shared library.

Package: libflif
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Free Lossless Image Format (FLIF) library
 FLIF is a lossless image (and animation) format.
 It tends to compress better than other image compression formats.
 This is the reference implementation of the FLIF encoder/decoder,
 as a shared library.

Package: viewflif
Architecture: any
Depends: libflif-dec (>=0.2), ${shlibs:Depends}, ${misc:Depends}
Recommends: flif
Description: Free Lossless Image Format (FLIF) viewer
 FLIF is a lossless image (and animation) format.
 'viewflif' displays a FLIF image or animation using SDL2.
 This is not intended to be a convenient image viewer; it
 is mostly just a simple demo application for libflif_dec.

Package: gif2flif
Architecture: any
Depends: imagemagick (>=8:6.8), flif (>=0.2), ${shlibs:Depends}, ${misc:Depends}
Description: Convert GIF to Free Lossless Image Format (FLIF)
 FLIF is a lossless image (and animation) format.
 'gif2flif' converts an (animated) GIF to (animated) FLIF.
 It is a simple shell script that converts the GIF file to
 individual PNG frames (using ImageMagick), then uses the
 FLIF encoder to convert them to an animation (with the
 correct frame delays).

Package: apng2flif
Architecture: any
Depends: apngdis (>=2.5), flif (>=0.2), ${shlibs:Depends}, ${misc:Depends}
Description: Free Lossless Image Format (FLIF) tools
 FLIF is a lossless image (and animation) format.
 'apng2flif' converts animated PNG (APNG) files to FLIF.
 It is a simple shell script that disassembles the APNG (using
 apngdis), then uses the FLIF encoder to convert the individual
 frames to an animation (with the correct frame delays).
