#!/usr/bin/make -f
%:
	dh $@ --with bash-completion


override_dh_install:
	# flif
	dh_install -pflif --autodest usr/bin/flif
	dh_install -pflif --autodest usr/share/man/man1/flif.1
	# viewflif
	dh_install -pviewflif --autodest usr/bin/viewflif
	# gif2flif
	dh_install -pgif2flif --autodest usr/bin/gif2flif
	# apng2flif
	dh_install -papng2flif --autodest usr/bin/apng2flif
	# libflif
	dh_install -plibflif --autodest usr/lib/libflif.so.*
	# libflif_dec
	dh_install -plibflif-dec --autodest usr/lib/libflif_dec.so.*

